* {margin: 0; padding: 0}
body {font: 12px sans-serif;}
#page-wrap {margin: 2% auto; color: white;}
#page-wrap>  .main {border: 1px solid #555; padding: 1%; margin-bottom: 1px;color: black;}
section > div {padding: 20px;}
header, nav, section{background: #eee; text-align: center;}
footer {background: #eee; text-align: center;}
nav span {margin: 2px 10px 4px 5px;}
.main form{ border: 10px solid #555; border-radius: 6px; 
            background-color: white; box-shadow: 0px 5px 10px #b5c1c5, 0 0 0 10px #555 inset;}
.main form label{ display: block;font-weight: bold;}



#bot1 {
    border: 0 0 0 0;
    padding: 0;
    text-align: center;
    }

